<div class="page-wrapper">
    <div ui-view="head"></div>
    <!-- Cover Baner   -->
    <section class="banner">
        <div class='slider'>
            <div class='slide1 slotholder'>
                <h1 class="text text-center">Excellence in Industrial Electronic Service</h1>
            </div>
            <div class='slide2 slotholder'>
                <h1 class="text text-center">Best service we do !</h1>
            </div>
            <div class='slide3 slotholder'>
                <h1 class="text text-center">Number 1 is not enough !</h1>
            </div>
        </div>
    </section>

    <!-- End Cover Baner -->

    <!--about section-->
    <section class="about-section">
        <div class="container">
            <div class="section-title text-center">
                <h3>About <span>Company</span></h3>
                <p>Altask Systechs specialise in repairing Electronic units including; Printed Circuit Boards (PCB), Power Inverters, Encoders, Drives, Servos, CNC Controllers, Power Supply Units, Plasma & Welding Machines</p>
                <div class="border-shep"></div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="tab-box">
                        <ul class="nav nav-tabs tab-menu">
                            <li class="active">
                                <a href="index.html#Who-We-Do" data-toggle="tab">Who We Are</a>
                                <div class="border-shep"></div>
                            </li>
                            <li><a href="index.html#What-We-Do" data-toggle="tab">What We Do</a>
                                <div class="border-shep"></div>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="Who-We-Do">
                                <div class="image-text">
                                    <p>WHO WE Do</p>
                                </div>
                            </div>
                            <div class="tab-pane" id="What-We-Do">
                                <div class="image-text">
                                    <p>WHAT WE DO</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="image-holder">
                        <figure>
                            <!-- <img src="altask/assets/about.jpg" alt=""> -->
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End about section-->

    <!--Caption Section-->
    <section class="caption-section">
        <div class="container text-center">
            <h3>Do you need <span>help</span> from <span>welding machines?</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur</p>
            <div class="link-btn">
                <a href="http://html.tonatheme.com/2017/power/contact.html" class="btn-style-one">Contact Now</a>
            </div>
        </div>
    </section>
    <!--Caption Section-->


    <!--team section-->
    <section class="team-section">
        <div class="container">
            <div class="section-title text-center">
                <h3>Our Major <span>Products</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm tempor</p>
                <div class="border-shep"></div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="image-holder">
                        <div class="image-box text-center">
                            <figure>
                                <a href="http://html.tonatheme.com/2017/power/index.html#"><img src="./Electrician Template _ Home Page_files/1(1).png" alt=""></a>
                            </figure>
                        </div>
                        <div class="image-background"></div>
                        <div class="content-text text-center">
                            <a href="http://html.tonatheme.com/2017/power/index.html#">
                                <h6>Carl Peppard</h6>
                            </a>
                            <p>Electrician</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="image-holder">
                        <div class="image-box text-center">
                            <figure>
                                <a href="http://html.tonatheme.com/2017/power/index.html#"><img src="./Electrician Template _ Home Page_files/2.png" alt=""></a>
                            </figure>
                        </div>
                        <div class="image-background"></div>
                        <div class="content-text text-center">
                            <div class="text">
                                <a href="http://html.tonatheme.com/2017/power/index.html#">
                                    <h6>Carl Peppard</h6>
                                </a>
                                <p>Electrician</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="image-holder">
                        <div class="image-box text-center">
                            <figure>
                                <a href="http://html.tonatheme.com/2017/power/index.html#"><img src="./Electrician Template _ Home Page_files/3.png" alt=""></a>
                            </figure>
                        </div>
                        <div class="image-background"></div>
                        <div class="content-text text-center">
                            <div class="text">
                                <a href="http://html.tonatheme.com/2017/power/index.html#">
                                    <h6>Carl Peppard</h6>
                                </a>
                                <p>Electrician</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="image-holder">
                        <div class="image-box text-center">
                            <figure>
                                <a href="http://html.tonatheme.com/2017/power/index.html#"><img src="./Electrician Template _ Home Page_files/4.png" alt=""></a>
                            </figure>
                        </div>
                        <div class="image-background"></div>
                        <div class="content-text text-center">
                            <div class="text">
                                <a href="http://html.tonatheme.com/2017/power/index.html#">
                                    <h6>Carl Peppard</h6>
                                </a>
                                <p>Electrician</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End team section-->
    <!-- Footer Section -->
    <div ui-view="foot"/>
</div>
